langchain==0.3.18
langchain-core==0.3.34
langchain-google-genai==2.0.9
langchain-text-splitters==0.3.6
langgraph==0.2.70
langgraph-checkpoint==2.0.10
langgraph-sdk==0.1.51
langsmith==0.3.6
matplotlib-inline==0.1.7
numpy==1.26.4
pandas==2.2.3
python-dotenv==1.0.1
streamlit==1.42.0
streamlit-chat==0.1.1
